* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    flex-grow: 1;
}

.top {
    min-height: 768px;
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

.contacts-header {
    background: linear-gradient(253.6deg, #98D0FC 2.46%, #3481D7 93.24%);
    width: 100%;
    height: 250px;
}

.top__contacts {
    background-image: url(../img/contacts_back.png);

    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-top: 42px;
}

.contacts-info {
    display: flex;
    flex-direction: column;
}

.contact__content__left {
    justify-content: center;
}

.send_us_message {
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    text-transform: uppercase;
    margin-bottom: 48px;
}

.send_us_paragraph {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.8;
    margin-bottom: 8px;
}

.form {
    display: flex;
    flex-direction: column;
}

.top__heading {
    font-size: 64px;
    color: #1F3F68;
    width: 510px;
    font-weight: 300;
    line-height: 74px;
    letter-spacing: 0.04em;
    margin-bottom: 32px;
}

.top__info {
    padding-top: 115px;
    flex-grow: 1;
    background-image: url(../img/top__back.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 44%;
}

.top__button {
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    letter-spacing: 0.04em;
    text-align: center;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    padding: 15px 50px;
    text-decoration: none;
    display: inline-block;
    margin-top: 71px;
}

.top__box {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.text-contacts-heading {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.04em;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.6);
}


.text {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
    letter-spacing: 0.05em;
    opacity: 0.6;
}

.address {
    letter-spacing: 0.04em;
    font-weight: lighter;
}

ul.phones__ul {
    list-style-type: none;

}

.phones__li:before {
    content: url(../img/phone.svg);
    margin-right: 19px;
}

.phones__li {
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    padding-bottom: 16px;
}

ol.service_main {
    list-style-type: none;
}

.service__site,
.service__mail {
    margin-left: 0px;
    padding-left: 0px;
    margin-bottom: 16px;
}

.service__link {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    text-decoration: none;
}


.service__site:before {
    content: url(../img/site.svg);
    margin-right: 19px;
}

.service__mail:before {
    content: url(../img/mail.svg);
    margin-right: 19px;
}

.text_project {
    width: 75%;
    margin: 32px auto 64px;
    color: #222222;
    opacity: 1;
    text-align: center;
}

.top__text {
    width: 425px;
}

.card-box {
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 359px;
    padding: 44px 32px;
    box-sizing: border-box;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    background-color: #fff;
    margin-bottom: 96px;
}

.card img {
    align-self: center;
    margin-bottom: 51px;
}

.card__link {
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    text-decoration: none;
    display: flex;
}

.project__parent {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

.project__item {
    position: relative;
    flex-grow: 1;
}

.project__item_margin {
    margin-right: 32px;
}

.project__img {
    width: 100%;
}

/*  PROJECT PHOTOS   */
.project__text {
    position: absolute;
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.first {
    top: 64px;
    right: 64px;

}

.second {
    left: 32px;
    top: 32px;
    font-size: 28px;
}

.third {
    left: 32px;
    top: 32px;
    font-size: 28px;
}

/*  PROJECT PHOTOS   */

.heading-contacts {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
    line-height: 74px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    padding-top: 51px;
    padding-bottom: 16px;
}

.heading {
    font-size: 36px;
    text-align: center;
    line-height: 46px;
    letter-spacing: 0.05em;
    font-weight: 300;
    padding-top: 64px;

}



.heading-mini {
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    text-transform: uppercase;
    margin-bottom: 24px;
    margin-top: 56px;
}


.footer {
    background: #316099;
    padding-top: 91px;
    padding-bottom: 64px;
    margin-top: 112px;
}

.footer__top {

    display: flex;
    justify-content: space-between;
    padding-bottom: 96px;
}

.footer__head {
    font-weight: normal;
    font-size: 36px;
    width: 340px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.footer_description {
    color: #FFFFFF;
    margin-top: 32px;
}

.footer__right {
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    text-decoration: none;
    background: #5A98D0;
    align-self: center;
    padding: 15px 80px;

}

.footer__text {
    width: 495px;
    margin-top: 91px;
    align-self: center;
}

.footer__info {
    display: flex;
    justify-content: space-between;
    margin-top: 64px;

}

.line {
    border: 1px solid #fff;
    opacity: 0.4;
}

ol li {
    margin-left: 15px;
    padding-left: 20px;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.text__copy {
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.4;
    padding: 64px 0px;
    flex-grow: 1;
    flex-basis: 33.3333%;
}

.main {
    display: flex;
    justify-content: space-around;
    padding-top: 57px;
}

.contact__content__right {
    width: 540px;

}


input::placeholder,
textarea::placeholder {
    padding: 21px;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.4;
}

.vvod {
    opacity: 0.2;
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    height: 100px;
}


.knopka {
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    display: flex;
    justify-content: center;
    margin-top: 72px;
    margin-bottom: 56px;
}

.learn__more {
    padding-top: 6px;
    padding-left: 24px;

}

@media (max-width: 1024px) {
    .container {
        padding-left: 32px;
        padding-right: 32px;
    }

    .top__info {
        background-position: right 200px;

    }

    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card-box {
        flex-direction: column;
        align-items: center;
    }

    .card {
        margin-bottom: 32px;
    }

    .footer__head {
        width: 336px;
    }

    .footer__right {
        width: 133px;
        height: 18px;
        padding: 15px
    }

    .footer__info {
        flex-direction: column;
    }

    .footer__info li {
        margin-bottom: 25px;
    }

    .heading-contacts {
        padding-top: 50px;
    }



}

@media (max-width: 667px) {

    .header {
        padding-top: 24px;
    }

    .top {
        min-width: 376px;
        padding-bottom: 41px;
        box-sizing: border-box;
    }

    .top__info {
        padding-top: 36px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: none;
    }

    .top__heading {
        width: 100%;
        font-size: 32px;
        line-height: 37px;
        text-align: center;
        margin-bottom: 12px;
    }

    .text-contacts-heading {
        font-size: 16px;
    }

    .heading-contacts {
        font-size: 24px;
        line-height: 28px;
        padding-top: 48px;

    }

    .top__text {
        width: 100%;
        text-align: center;

    }

    .top__button {
        font-size: 12px;
        line-height: 26px;
        padding: 0 8px;
    }

    .heading {
        font-size: 24px;
        line-height: 28px;
    }

    .what-we-do {
        padding-top: 48px;
    }

    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card-box {
        padding-top: 32px;
    }

    .card {
        width: 100%;
    }

    .text_project {
        width: 100%;
    }

    .project__text {
        font-size: 16px;
        line-height: 19px;
    }

    .first {
        top: 16px;
        right: 16px;
    }

    .second,
    .third {
        left: 16px;
    }

    .project__parent {
        flex-direction: column;
        margin-top: 16px;

    }

    .project__item_margin {
        margin-right: 0;
        margin-bottom: 16px;
    }

    .footer__top {
        flex-direction: column;
    }

    .footer__info {
        flex-direction: column;
    }

    .text__copy {
        padding: 37px 0px;
        text-align: center;
    }

    .footer__text {
        text-align: center;
        width: 100%;
    }

    .footer__head {
        margin: 0px auto;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
    }

    .footer__right {
        margin-top: 40px;
    }
}